@keyframes lightning {
  0% {
    background-position: -300px 0;
  }
  100% {
    background-position: 300px 0;
  }
}
.lightning-text {
  background: linear-gradient(
    90deg,
    #fff 0%,
    #b0b0b0 20%,
    #222 40%,
    #b0b0b0 60%,
    #fff 80%
  );
  background-size: 400px 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: lightning 2s linear infinite;
}

.logo {
  font-weight: 700;
  letter-spacing: 0.1em;
}
.sub-logo{
    font-weight: 400;
}
