/* Style for the login page module */
/* .font-black {
  color: black;
} */
.font-light {
  color: rgb(150, 148, 148);
}

.login-page {
  background-color: var(
    --primary-color
  ); 
}


.submit-button {
  background-color: var(
    --primary-color
  ); /* Replace with your app's primary theme color variable */
  font-size: medium;
}
.email-input{
    padding: 0.5rem;
    margin: 1rem 0;
}
